html{
    background-color: deepskyblue;
  height: 800px;
}

#round > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 28px;
}

#plyrbuttons, #pcbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: slateblue 2px solid;
    margin: 34px 35%;
    border-radius: 64px;
    height: fit-content;
    max-width: fit-content;
}

.img{
    padding: 18px 25px;
    height: 20%;
    width: 20%;
}



p{
    font-size: 18px;
    padding: 0;
    height: 8px;
}

#winner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 40% ;
    height: auto;
    width: auto;
    border: slateblue 2px solid;
    background-color: lightblue;

    font-weight: bolder;
}

#winnerimg{
    margin-left: 16px;
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100px;
}

#scores{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 60%;
    margin: 50px auto;
   
}

#plyrchoice,#pcchoice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    font-weight: bold;
}



#playerchoice,#computerchoice{
    max-height: 20%;
    max-width: 20%;
    margin-top: 8px;
}


#score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin: auto 0px;
    border: black 2px solid;
   
    background-color: lightblue;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    width: auto;

}

#ties{
    width: auto;
    height: auto;
    font-weight: bolder;
    font-size: 18px;
 
}

#plyrscore{
    margin-right: 5px;
}

#pcscore{
    margin-left: 5px;
}

#btn
{
    display: none;
    justify-content: center;
    align-items: center;
}

button{
    background-color: lightblue;
    height: auto;
    font-size: 24px;
    font-weight: bolder;
    width: auto;
    border: black 2px solid;
    margin-top: 12px;
}






